.interval{
  margin-top: 40px;
}
.forheader [type=search]{
  margin: 8px 0;
  border: 1px solid rgb(230, 231, 231);
  padding: 8px 18px;
}
.App label input{
  padding: 8px 18px;
  border: 1px solid #ececec
}
.App label{
  display: block;
  margin: 0 0 20px;
}
.App label span{
  display: inline-block;
  min-width: 120px;
}
.App button{
  margin: 0 20px 0 0;
  padding: 10px 20px;
  border: 1px solid;
  transition: .3s;
  cursor: pointer;
  border-color: rgb(230, 231, 231);
}
.App button[type=submit]{
  background-color: rgb(71, 172, 255);
  border-color: rgb(71, 172, 255);
  color: #fff;
}
.App button[type=submit]:hover{
  background-color: rgb(71, 212, 255);
  border-color: rgb(71, 212, 255);
}
.App button + span {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 18px;
  border:1px dashed #eee;
  line-height: 1.2;
  top: 1px;
  position: relative;
}
.listWrap ul{
  padding: 0;
}
.listWrap ul li {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
.listWrap ul li div:first-of-type {
  flex: 0 0 120px;
}
@media(max-width:1200px){
  .App{
    margin: auto 10px;
  }
}