* {
  box-sizing: border-box;
}

body {
  text-align: left;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  margin: auto;
}

@media(max-width: 1025px){
  .container {
    padding: 0 10px;
  }
}
.interval{
  margin-top: 40px;
}
.forheader [type=search]{
  margin: 8px 0;
  border: 1px solid rgb(230, 231, 231);
  padding: 8px 18px;
}
.App label input{
  padding: 8px 18px;
  border: 1px solid #ececec
}
.App label{
  display: block;
  margin: 0 0 20px;
}
.App label span{
  display: inline-block;
  min-width: 120px;
}
.App button{
  margin: 0 20px 0 0;
  padding: 10px 20px;
  border: 1px solid;
  transition: .3s;
  cursor: pointer;
  border-color: rgb(230, 231, 231);
}
.App button[type=submit]{
  background-color: rgb(71, 172, 255);
  border-color: rgb(71, 172, 255);
  color: #fff;
}
.App button[type=submit]:hover{
  background-color: rgb(71, 212, 255);
  border-color: rgb(71, 212, 255);
}
.App button + span {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 18px;
  border:1px dashed #eee;
  line-height: 1.2;
  top: 1px;
  position: relative;
}
.listWrap ul{
  padding: 0;
}
.listWrap ul li {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  border-bottom: 1px dashed #eee;
}
.listWrap ul li div:first-of-type {
  margin-bottom: 5px;
}
.listWrap ul li div:last-of-type {
  margin-bottom: 5px;
  flex:0 0 100%;
}
@media(max-width:1200px){
  .App{
    margin: auto 10px;
  }
}
.listWrap ul li.answer {
  margin-bottom: 20px;
  background-color: #eee;
  line-height: 2;
  margin-top: 20px;
  padding: 0 10px;
}

input{
  outline:none;
}